 body {
      margin: 0;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #0f172a; 
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    }

      button{
        background-color: #002886;
        border: .05em solid #6996ff;
        border-radius: 8px;
        color: #e5e7eb;
        padding: 6px;
        width: 50px;
        transform: transform 0.1s ease;
       
    }

    button:active {
      transform: scale(0.98);
    }


    .heads-or-tails-box {
      color: #e5e7eb;
      background: #020617;
      padding: 20px 40px;
      border-radius: 16px;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5); 
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      
    }

    .heads-or-tails-text{
        font-size: 30px;
        text-decoration: underline;
        text-underline-offset: 5px;
        margin: 8px;
        
    }

    .flip-button-box{
        margin-top: 10px;
    }

    .coin-image{
        display: none; /* takes border off empty coin image*/
        
    }

    