body,
html{
    height: 100%;
}
body {
  margin: 0;
  min-height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
  color: antiquewhite;
  background: radial-gradient(
    circle at top,
    rgb(80, 65, 65),
    rgb(15, 15, 15)
  );
}

a{
    text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active {
  color:antiquewhite 
}


.nav-logo{
    height: 50px;
    margin: 0;

}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.right-links a {
  font-size: 16px;
  opacity: 0.8;
  transition: opacity 0.2s ease;
}


.right-links a:hover {
  opacity: 1;
}

.hero-box{
    /*background-color: blue;*/
    height: 200px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 50px;
}

.hero-box-heading{
    margin-bottom: -20px;
}

.hero-box-heading-2{
margin-bottom: -10px;
}


.skills-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    
   
}

.skills-heading{
    font-size: 20px;
    margin-bottom: 20px;
    
}

.skills-text{
    display: flex;
    gap: 150px;
     font-size: 30px;
    font-weight: 600;
    margin-top: -20px;
    text-decoration: underline;
}

.projects-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid antiquewhite;
    border-radius: 8px;
}

.projects-heading{
    text-decoration: underline;
    margin-top: 60px;
    margin-bottom: 50px;
}

.all-projects-box{
    display: flex;
    gap: 16px;
}
/*
.heads-or-tails-box{
    border: 2px solid antiquewhite;
    border-radius: 8px;
    padding: 16px;
    min-height: 20px;
    min-width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 50px;
    
    
}*/



.heads-or-tails-box,
.rock-paper-scissor-box{
    border: 1px solid white;
    border-radius: 20px;
    height: 100px;
    width: 100px;
    overflow: hidden;
    box-shadow: 0 0 12px rgb(97, 96, 96);
}

.coin-flip-image,
.rps-image{
  max-width: 100%;
  height: auto;

}

.heads-or-tails-text{
    margin: 0;
}


.time{
    color: aliceblue;
}





