
body {
  margin: 0;
  min-height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
  color: antiquewhite;
  background: radial-gradient(
    circle at top,
    rgb(80, 65, 65),
    rgb(15, 15, 15)
  );
}

a{
    text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active {
  color:antiquewhite 
}


.nav-logo{
    height: 50px;
    margin: 0;

}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.right-links a {
  font-size: 16px;
  opacity: 0.8;
  transition: opacity 0.2s ease;
}


.right-links a:hover {
  opacity: 1;
}

.hero-box {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.hero-box-heading {
  font-size: 48px;
  margin: 0;
}

.hero-box-heading-2 {
  font-size: 28px;
  font-weight: 400;
  opacity: 0.85;
  margin: 0;
}

.hero-box p {
  opacity: 0.7;
}


.skills-box{
    margin: 80px 0;
    text-align: center;
   
}

.skills-heading{
    font-size: 20px;
    margin-bottom: 20px;
    
}

.skills-text{
    display: flex;
    gap: 60px;
     font-size: 22px;
    font-weight: 500;
    text-decoration: none;
    opacity: 0.9;
    justify-content: center;
}

.skills-text p {
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 4px;
}
/* OLD
.projects-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid antiquewhite;
    border-radius: 8px;
}*/
/* this adds glass card effect vvv*/
.projects-box {
  width: 80%;
  max-width: 900px;
  margin: 60px auto;
  padding: 40px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  
}


.projects-heading{
    text-decoration: underline;
    margin-top: 60px;
    margin-bottom: 50px;
    text-align: center;
}

.all-projects-box{
    display: flex;
    justify-content: center;
    gap: 16px;
}
/*
.heads-or-tails-box{
    border: 2px solid antiquewhite;
    border-radius: 8px;
    padding: 16px;
    min-height: 20px;
    min-width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 50px;
    
    
}*/



.heads-or-tails-box,
.rock-paper-scissor-box{
    border: 1px solid white;
    border-radius: 20px;
    height: 100px;
    width: 100px;
    overflow: hidden;
    box-shadow: 0 0 12px rgb(97, 96, 96);

    display: flex;
    justify-content: center;
    align-items: center;
}

.coin-flip-image,
.rps-image{
  max-width: 100%;
  height: auto;

}

.heads-or-tails-text{
    margin: 0;
}


.time{
    color: aliceblue;
    text-align: center;
}





