body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: antiquewhite;
    background-image:linear-gradient(rgb(68, 56, 56), black);
}

a{
    text-decoration: none;
}

.nav-logo{
    height: 50px;
    margin: 0;

}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
   /* background-color: bisque;*/
    gap: auto;
     /*background-color: rgb(68, 56, 56);*/
    
}

.right-links{
    display: flex;
    gap: 16px;
}

.hero-box{
    /*background-color: blue;*/
    height: 200px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.hero-box-heading{
    margin-bottom: -20px;
}

.hero-box-heading-2{
margin-bottom: -10px;
}


.skills-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    
   
}

.skills-heading{
    font-size: 20px;
    
}

.skills-text{
    display: flex;
    gap: 150px;
     font-size: 30px;
    font-weight: 600;
    margin-top: -20px;
    text-decoration: underline;
}
